@model Zusammen.Models.RegAndLogModel;

@{
    ViewBag.Title = "Login & Signup";
    ViewData["ShowHeader"] = false;
}
<body class="font">
<div class="login-sign-container">
    <div class="login-sign-box"></div>
    <div class="login-sign-container-forms">
      <div class="login-sign-container-info">
        <div class="login-sign-info-item">
          <div class="login-sign-table">
            <div class="login-sign-table-cell">
              <p> У вас є обліковий запис? </p>
              <div class="login-sign-btn" style="width: 100px">
                Увійти
              </div>
            </div>
          </div>
        </div>
        <div class="login-sign-info-item">
          <div class="login-sign-table">
            <div class="login-sign-table-cell">
              <p>
                Немає облікового запису?
              </p>
              <div class="login-sign-btn" style="width: 160px">
                Зареєструватися
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="login-sign-container-form">
        <div class="login-sign-form-item log-in">
          <div class="login-sign-table">
            <div class="login-sign-table-cell">
              <input name="Username" placeholder="Username" type="text" />
              <input name="Password" placeholder="Password" type="Password" />
              <div class="login-sign-btn" style="width: 100px">
                Увійти
              </div>
            </div>
          </div>
        </div>
        <div class="login-sign-form-item sign-up">
          <div class="login-sign-table">
            <form class="login-sign-table-cell" role="form" asp-action="Register" asp-controller="Autorization" method="post">
              <input asp-for="@Model.register.name" name="Name" type="text" autocomplete="off" data-val="true" data-val-required="Дане поле є обов'язковим для вводу"  placeholder="Username"/>
              <span asp-validation-for="@Model.register.name" class="text-danger"></span>
              <input asp-for="@Model.register.email" name="Email" type="text" autocomplete="off" data-val="true" data-val-required="Дане поле є обов'язковим для вводу" placeholder="Email"/>
              <span asp-validation-for="@Model.register.email" class="text-danger"></span>
              <input asp-for="@Model.register.password" name="Password" type="Password" autocomplete="off" data-val="true" data-val-required="Дане поле є обов'язковим для вводу." placeholder="Password"/>
              <span asp-validation-for="@Model.register.password" class="text-danger"></span>
              <input type="submit" value="Зареєструватися" class="login-sign-btn" style="width: 160px"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
</body>

        
